In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/df02.csv")
df.head()

,Серия проекта,Количество этажей,Количество подъездов,Общая площадь,Общая площадь жилых помещений,Общая площадь нежилых помещений,Материал стен,Количество пассажирских лифтов,Количество грузопассажирских лифтов,UNOM,Статус МКД,Количество грузовых лифтов,Количество обращений за последний месяц,Среднемесячное количество обращений,Возраст дома,WORK_NAME_TARGET
0,I-515,9,12,21103,21088,15,панельные,12,0,22830,в эксплуатации,0,414.0,0.316406,49.0,12
1,I-515,9,12,21103,21088,15,панельные,12,0,22830,в эксплуатации,0,414.0,0.316406,49.0,15
2,I-515,9,12,21103,21088,15,панельные,12,0,22830,в эксплуатации,0,414.0,0.316406,49.0,16
3,I-515,9,12,21103,21088,15,панельные,12,0,22830,в эксплуатации,0,414.0,0.316406,49.0,3
4,I-515,9,12,21103,21088,15,панельные,12,0,22830,в эксплуатации,0,414.0,0.316406,49.0,1

In [2]:
df = pd.read_csv("../data/df_kapremont_manyfloat_ver_3.csv")
df.head(2)

,Год постройки,Серия проекта,Количество этажей,Количество подъездов,Общая площадь,Общая площадь жилых помещений,Общая площадь нежилых помещений,Материал стен,Количество пассажирских лифтов,Количество грузопассажирских лифтов,UNOM,Статус МКД,Количество грузовых лифтов,Дата создания во внешней системе,WORK_NAME,Месяц создания во внешней системе,Количество обращений за последний месяц,Среднемесячное количество обращений,PLAN_MONTH_START
0,1973.0,I-515,9.0,12.0,21103.0,21088.0,15.0,панельные,12.0,0.0,22830,в эксплуатации,0.0,2022-12-02,ремонт внутридомовых инженерных систем электро...,12,423.0,0.260901,3
1,1973.0,I-515,9.0,12.0,21103.0,21088.0,15.0,панельные,12.0,0.0,22830,в эксплуатации,0.0,2022-12-02,"ремонт подвальных помещений, относящихся к общ...",12,423.0,0.260901,5

In [5]:
df.nunique()

Серия проекта                               42
Количество этажей                           16
Количество подъездов                        11
Общая площадь                              356
Общая площадь жилых помещений              353
Общая площадь нежилых помещений            224
Материал стен                                9
Количество пассажирских лифтов              14
Количество грузопассажирских лифтов          9
UNOM                                       371
Статус МКД                                   1
Количество грузовых лифтов                   1
Количество обращений за последний месяц    159
Среднемесячное количество обращений        272
Возраст дома                                46
WORK_NAME_TARGET                            19
dtype: int64

In [6]:
df.columns

Index(['Серия проекта', 'Количество этажей', 'Количество подъездов',
       'Общая площадь', 'Общая площадь жилых помещений',
       'Общая площадь нежилых помещений', 'Материал стен',
       'Количество пассажирских лифтов', 'Количество грузопассажирских лифтов',
       'UNOM', 'Статус МКД', 'Количество грузовых лифтов',
       'Количество обращений за последний месяц',
       'Среднемесячное количество обращений', 'Возраст дома',
       'WORK_NAME_TARGET'],
      dtype='object')

In [10]:
houses_df = df.iloc[:,[9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, -2]]
houses_df.head()

,UNOM,Серия проекта,Количество этажей,Количество подъездов,Общая площадь,Общая площадь жилых помещений,Общая площадь нежилых помещений,Материал стен,Количество пассажирских лифтов,Количество грузопассажирских лифтов,Статус МКД,Количество грузовых лифтов,Возраст дома
0,22830,I-515,9,12,21103,21088,15,панельные,12,0,в эксплуатации,0,49.0
1,22830,I-515,9,12,21103,21088,15,панельные,12,0,в эксплуатации,0,49.0
2,22830,I-515,9,12,21103,21088,15,панельные,12,0,в эксплуатации,0,49.0
3,22830,I-515,9,12,21103,21088,15,панельные,12,0,в эксплуатации,0,49.0
4,22830,I-515,9,12,21103,21088,15,панельные,12,0,в эксплуатации,0,49.0

In [11]:
houses_df.isna().sum()

UNOM                                   0
Серия проекта                          0
Количество этажей                      0
Количество подъездов                   0
Общая площадь                          0
Общая площадь жилых помещений          0
Общая площадь нежилых помещений        0
Материал стен                          0
Количество пассажирских лифтов         0
Количество грузопассажирских лифтов    0
Статус МКД                             0
Количество грузовых лифтов             0
Возраст дома                           0
dtype: int64

In [12]:
houses_df.dtypes

UNOM                                     int64
Серия проекта                           object
Количество этажей                        int64
Количество подъездов                     int64
Общая площадь                            int64
Общая площадь жилых помещений            int64
Общая площадь нежилых помещений          int64
Материал стен                           object
Количество пассажирских лифтов           int64
Количество грузопассажирских лифтов      int64
Статус МКД                              object
Количество грузовых лифтов               int64
Возраст дома                           float64
dtype: object

In [14]:
houses_df["Возраст дома"] = houses_df["Возраст дома"].astype("int")

C:\Users\rus_k\AppData\Local\Temp\ipykernel_7720\3619939027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  houses_df["Возраст дома"] = houses_df["Возраст дома"].astype("int")

In [10]:
houses_df[["Год постройки", "Количество этажей", "Количество подъездов",
           "Количество пассажирских лифтов", "Количество грузопассажирских лифтов",
           "Количество грузовых лифтов"]] = houses_df[["Год постройки", "Количество этажей", "Количество подъездов",
           "Количество пассажирских лифтов", "Количество грузопассажирских лифтов",
           "Количество грузовых лифтов"]].astype("int")

C:\Users\rus_k\AppData\Local\Temp\ipykernel_5880\881694228.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  houses_df[["Год постройки", "Количество этажей", "Количество подъездов",

In [15]:
houses_df.dtypes

UNOM                                    int64
Серия проекта                          object
Количество этажей                       int64
Количество подъездов                    int64
Общая площадь                           int64
Общая площадь жилых помещений           int64
Общая площадь нежилых помещений         int64
Материал стен                          object
Количество пассажирских лифтов          int64
Количество грузопассажирских лифтов     int64
Статус МКД                             object
Количество грузовых лифтов              int64
Возраст дома                            int32
dtype: object

In [16]:
houses_df.head()

,UNOM,Серия проекта,Количество этажей,Количество подъездов,Общая площадь,Общая площадь жилых помещений,Общая площадь нежилых помещений,Материал стен,Количество пассажирских лифтов,Количество грузопассажирских лифтов,Статус МКД,Количество грузовых лифтов,Возраст дома
0,22830,I-515,9,12,21103,21088,15,панельные,12,0,в эксплуатации,0,49
1,22830,I-515,9,12,21103,21088,15,панельные,12,0,в эксплуатации,0,49
2,22830,I-515,9,12,21103,21088,15,панельные,12,0,в эксплуатации,0,49
3,22830,I-515,9,12,21103,21088,15,панельные,12,0,в эксплуатации,0,49
4,22830,I-515,9,12,21103,21088,15,панельные,12,0,в эксплуатации,0,49

In [17]:
houses_df.to_csv("../data/houses.csv", index=False)

In [18]:
df.head(2)

,Серия проекта,Количество этажей,Количество подъездов,Общая площадь,Общая площадь жилых помещений,Общая площадь нежилых помещений,Материал стен,Количество пассажирских лифтов,Количество грузопассажирских лифтов,UNOM,Статус МКД,Количество грузовых лифтов,Количество обращений за последний месяц,Среднемесячное количество обращений,Возраст дома,WORK_NAME_TARGET
0,I-515,9,12,21103,21088,15,панельные,12,0,22830,в эксплуатации,0,414.0,0.316406,49.0,12
1,I-515,9,12,21103,21088,15,панельные,12,0,22830,в эксплуатации,0,414.0,0.316406,49.0,15

In [20]:
incidents = df.iloc[:,[9, -4, -3]]
incidents.head()

,UNOM,Количество обращений за последний месяц,Среднемесячное количество обращений
0,22830,414.0,0.316406
1,22830,414.0,0.316406
2,22830,414.0,0.316406
3,22830,414.0,0.316406
4,22830,414.0,0.316406

In [21]:
incidents.dtypes

UNOM                                         int64
Количество обращений за последний месяц    float64
Среднемесячное количество обращений        float64
dtype: object

In [22]:
incidents["Количество обращений за последний месяц"] = incidents["Количество обращений за последний месяц"].astype("int")

C:\Users\rus_k\AppData\Local\Temp\ipykernel_7720\1677805128.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidents["Количество обращений за последний месяц"] = incidents["Количество обращений за последний месяц"].astype("int")

In [23]:
incidents.head()

,UNOM,Количество обращений за последний месяц,Среднемесячное количество обращений
0,22830,414,0.316406
1,22830,414,0.316406
2,22830,414,0.316406
3,22830,414,0.316406
4,22830,414,0.316406

In [28]:
incidents["Дата создания во внешней системе"] = pd.to_datetime(incidents["Дата создания во внешней системе"])

C:\Users\rus_k\AppData\Local\Temp\ipykernel_14324\2200740756.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidents["Дата создания во внешней системе"] = pd.to_datetime(incidents["Дата создания во внешней системе"])

In [24]:
incidents.head()

,UNOM,Количество обращений за последний месяц,Среднемесячное количество обращений
0,22830,414,0.316406
1,22830,414,0.316406
2,22830,414,0.316406
3,22830,414,0.316406
4,22830,414,0.316406

In [31]:
incidents["Дата создания во внешней системе"] = incidents["Дата создания во внешней системе"].dt.date

C:\Users\rus_k\AppData\Local\Temp\ipykernel_14324\1334175725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidents["Дата создания во внешней системе"] = incidents["Дата создания во внешней системе"].dt.date

In [25]:
incidents.head()

,UNOM,Количество обращений за последний месяц,Среднемесячное количество обращений
0,22830,414,0.316406
1,22830,414,0.316406
2,22830,414,0.316406
3,22830,414,0.316406
4,22830,414,0.316406

In [26]:
incidents.to_csv("../data/incidents.csv", index=False)