In [10]:
# импорт необходимых библиотек
import pandas as pd
import os
from docx import Document

In [11]:
# путь к файлам
PACH_DATA = "../raw_data/"

In [12]:
# вывод файлов директории "data"
data_list = os.listdir(PACH_DATA)
data_list

['1_Многоквартирные дома с технико-экономическими характеристиками.xlsx',
 '2_Инциденты,_зарегистрированные_на_объектах_городского_хозяйства (2).xlsx',
 '2_Инциденты,_зарегистрированные_на_объектах_городского_хозяйства.xlsx',
 '3_Работы по капитальному ремонту, проведенные в многоквартирных домах.xlsx',
 '4_Виды работ по капитальному ремонту многоквартирных домов.xlsx',
 '4_Виды работ по содержанию и ремонту общего имущества многоквартирных домов.xlsx',
 '4_Виды_работ_по_капитальному_ремонту_многоквартирных_домов_с_фактом (3).xlsx',
 '5_Типы событий, регистрируемых по типу объекта многоквартирный дом.xlsx',
 'Объекты_модели_Группы_видов_работ_по_содержанию_и_ремонту_общего.xlsx',
 'Описание примеров данных.docx']

### Описание примеров данных

In [13]:
# загрузка данных файла 'Описание примеров данных.docx'
document = Document(PACH_DATA + data_list[-1])

In [14]:
# парсинг таблиц данных файла 'Описание примеров данных.docx'
df_tables = []
for table in document.tables:
    df = [['' for i in range(len(table.columns))] for j in range(len(table.rows))]
    for i, row in enumerate(table.rows):
        for j, cell in enumerate(row.cells):
            if cell.text:
                df[i][j] = cell.text
    df_tables.append(pd.DataFrame(df[1:], columns=df[0]))

In [15]:
# количество обнаруженных таблиц
len(df_tables)

16

### Многоквартирные дома с технико-экономическими характеристиками

In [16]:
# путь к данным
data_list[0]

'1_Многоквартирные дома с технико-экономическими характеристиками.xlsx'

In [19]:
# вывод наименование листов в файле "1_Многоквартирные дома с технико-экономическими характеристиками.xlsx"
xlsx_file = pd.ExcelFile(PACH_DATA + data_list[0])
sheet_names = xlsx_file.sheet_names
print(sheet_names)

['Sheet1', 'COL_781', 'COL_758', 'COL_769', 'COL_770', 'COL_775', 'COL_2156', 'COL_2463', 'COL_3163', 'COL_3243', 'COL_103506']

In [20]:
# описание данных
df_tables[0]

   Имя колонки Тип данных                                        Комментарий
0           ID     NUMBER
1      COL_782   VARCHAR2                                               UNOM
2      COL_781     NUMBER  Идентификатор материала кровли, внешний ключ н...
3      COL_775     NUMBER  Идентификатор очередности уборки кровли, внешн...
4      COL_772     NUMBER                Количество грузопассажирских лифтов
5      COL_771     NUMBER                     Количество пассажирских лифтов
6      COL_770     NUMBER  Идентификатор признака аварийности здания, вне...
7      COL_769     NUMBER  Идентификатор материала стен, внешний ключ на ...
8      COL_767   VARCHAR2                          Класс энергоэффективности
9      COL_766     NUMBER                             Износ объекта (по БТИ)
10     COL_765     NUMBER                                 Строительный объем
11     COL_764     NUMBER                    Общая площадь нежилых помещений
12     COL_763     NUMBER                      Общая площадь жилых помещений
13     COL_762     NUMBER                                      Общая площадь
14     COL_761     NUMBER                                 Количество квартир
15     COL_760     NUMBER                               Количество подъездов
16     COL_759     NUMBER                                  Количество этажей
17     COL_758     NUMBER  Идентификатор серии проекта, внешний ключ на с...
18     COL_757     NUMBER                                  Год реконструкции
19     COL_756     NUMBER                                      Год постройки
20     COL_755   VARCHAR2                                Форма собственности
21     COL_754   VARCHAR2                                         Назначение
22    COL_3468   VARCHAR2                          Причина изменения статуса
23    COL_3363     NUMBER                         Количество грузовых лифтов
24    COL_3243     NUMBER  Идентификатор статуса управления МКД, внешний ...
25    COL_3163     NUMBER  Идентификатор статуса МКД, внешний ключ на спр...
26    COL_2463     NUMBER  Идентификатор типа жилищного фонда, внешний кл...
27    COL_2156     NUMBER  Идентификатор вида социального объекта, внешни...
28  COL_103506     NUMBER  Идентификатор категории МКД, внешний ключ на с...

In [21]:
# загрузка данных листа "Sheet1" в файле "1_Многоквартирные дома с технико-экономическими характеристиками.xlsx"
houses_df = pd.read_excel(PACH_DATA + data_list[0], sheet_name="Sheet1")
houses_df .head()

,ID,NAME,PARENT_ID,LOGIN,COL_754,COL_755,COL_756,COL_757,COL_758,COL_759,...,COL_775,COL_781,COL_782,COL_2156,COL_2463,COL_3163,COL_3243,COL_3363,COL_3468,COL_103506
0,NaN,NaN,NaN,NaN,Назначение,Форма собственности,Год постройки,Год реконструкции,Серия проекта,Количество этажей,...,Очередность уборки кровли,Материал кровли,UNOM,Вид социального объекта,Тип жилищного фонда,Статус МКД,Статус управления МКД,Количество грузовых лифтов,Причина Изменения Статуса МКД,Категория МКД
1,1500923.0,"Дом по адресу Красковская ул., д.121А",NaN,WS,NaN,NaN,1956,NaN,2048798,1,...,NaN,22289204,49928,NaN,22741963,58761330,NaN,0,NaN,NaN
2,1500933.0,"Дом по адресу Байкальская ул., д.18, к.2",NaN,WS,NaN,NaN,2005,NaN,2048798,18,...,NaN,22289201,64148,NaN,42875644,58761330,45063584,0,NaN,NaN
3,1500943.0,"Дом по адресу Перовская ул., д.48",NaN,WS,NaN,NaN,1955,NaN,2048912,4,...,22289162,22289204,19485,NaN,42875644,58761330,45063584,0,NaN,NaN
4,1500951.0,"Дом по адресу Парковая 3-я ул., д.39, к.3",NaN,404070001,NaN,NaN,1960,NaN,2048912,5,...,22289162,22289201,18533,NaN,42875644,58761330,45063584,0,NaN,NaN

In [23]:
# удаление первой колонки
houses_df = houses_df.drop(index=0)
houses_df.head()

,ID,NAME,PARENT_ID,LOGIN,COL_754,COL_755,COL_756,COL_757,COL_758,COL_759,...,COL_775,COL_781,COL_782,COL_2156,COL_2463,COL_3163,COL_3243,COL_3363,COL_3468,COL_103506
1,1500923.0,"Дом по адресу Красковская ул., д.121А",NaN,WS,NaN,NaN,1956,NaN,2048798,1,...,NaN,22289204,49928,NaN,22741963,58761330,NaN,0,NaN,NaN
2,1500933.0,"Дом по адресу Байкальская ул., д.18, к.2",NaN,WS,NaN,NaN,2005,NaN,2048798,18,...,NaN,22289201,64148,NaN,42875644,58761330,45063584,0,NaN,NaN
3,1500943.0,"Дом по адресу Перовская ул., д.48",NaN,WS,NaN,NaN,1955,NaN,2048912,4,...,22289162,22289204,19485,NaN,42875644,58761330,45063584,0,NaN,NaN
4,1500951.0,"Дом по адресу Парковая 3-я ул., д.39, к.3",NaN,404070001,NaN,NaN,1960,NaN,2048912,5,...,22289162,22289201,18533,NaN,42875644,58761330,45063584,0,NaN,NaN
5,1500954.0,"Дом по адресу Свободный просп., д.11, к.2",NaN,WS,NaN,NaN,1973,NaN,2048755,9,...,NaN,22289201,22830,NaN,42875644,58761330,45063584,0,NaN,NaN

In [28]:
# процентное соотношение пропусков в данных
(houses_df.isna().sum() / houses_df.shape[0] * 100) \
    .sort_values(ascending=False).round(2).astype('str') + ' %'

COL_103506    100.0 %
COL_2156      100.0 %
COL_755       100.0 %
COL_767       100.0 %
COL_757       99.99 %
PARENT_ID     99.88 %
COL_3468      99.63 %
COL_765       96.13 %
COL_766       96.13 %
COL_775       88.45 %
COL_754       77.46 %
COL_3243      75.14 %
COL_781       69.62 %
COL_761       69.53 %
COL_770       69.22 %
COL_2463      68.28 %
COL_3363       0.43 %
COL_760        0.43 %
COL_763        0.42 %
COL_764        0.42 %
COL_771         0.4 %
COL_772         0.4 %
COL_762        0.32 %
COL_758        0.32 %
COL_769        0.32 %
COL_759        0.31 %
COL_756        0.31 %
COL_782         0.0 %
COL_3163        0.0 %
NAME            0.0 %
LOGIN           0.0 %
ID              0.0 %
dtype: object

In [ ]:
# 
houses_df

In [26]:
# тип данных
houses_df.dtypes

ID            float64
NAME           object
PARENT_ID     float64
LOGIN          object
COL_754        object
COL_755        object
COL_756        object
COL_757        object
COL_758        object
COL_759        object
COL_760        object
COL_761        object
COL_762        object
COL_763        object
COL_764        object
COL_765        object
COL_766        object
COL_767        object
COL_769        object
COL_770        object
COL_771        object
COL_772        object
COL_775        object
COL_781        object
COL_782        object
COL_2156       object
COL_2463       object
COL_3163       object
COL_3243       object
COL_3363       object
COL_3468       object
COL_103506     object
dtype: object

In [25]:
houses_df.nunique()

ID            18432
NAME          18389
PARENT_ID        11
LOGIN            21
COL_754           5
COL_755           0
COL_756         184
COL_757           1
COL_758         141
COL_759          36
COL_760          16
COL_761         377
COL_762        6022
COL_763        3381
COL_764        3882
COL_765           1
COL_766           1
COL_767           0
COL_769          37
COL_770           2
COL_771          23
COL_772          16
COL_775           2
COL_781          10
COL_782       18432
COL_2156          0
COL_2463          4
COL_3163          6
COL_3243          5
COL_3363         10
COL_3468         38
COL_103506        0
dtype: int64